# Created by .ignore support plugin (hsz.mobi)
.Rproj.user/59B61398/ctx/
.Rproj.user/59B61398/explorer-cache/
.Rproj.user/59B61398/presentation/
.Rproj.user/59B61398/sources/per/
.Rproj.user/59B61398/viewer-cache/
.gitignore
.idea/snapshots/
.idea/workspace.xml
.Rproj.user
